@page "/resume/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Resume </h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditLResume" resume="resume" />

@code {
    [Parameter] public int id { get; set; }
    Resume resume= new Resume();

    protected async override Task OnParametersSetAsync()
    {
        resume = await _client.GetFromJsonAsync<Resume>($"{Endpoint.ResumeEndPoint}/{id}");
    }

    async Task EditLResume()
    {
        await _client.PutAsJsonAsync($"{Endpoint.ResumeEndPoint}/{id}", resume);
        _navManager.NavigateTo("/resume/");
    }
}