@page "/jlocation/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Booking </h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditLocation" jLocation="location" />

@code {
    [Parameter] public int id { get; set; }
    JLocation location= new JLocation();

    protected async override Task OnParametersSetAsync()
    {
        location = await _client.GetFromJsonAsync<JLocation>($"{Endpoint.JLocationsEndPoint}/{id}");
    }

    async Task EditLocation()
    {
        await _client.PutAsJsonAsync($"{Endpoint.JLocationsEndPoint}/{id}", location);
        _navManager.NavigateTo("/bookings/");
    }
}